{% extends 'all-news/base.html' %}

{% load bootstrap4%}
{%load static%}

{% block content%}
{{block.super}}

<div class="container">

    <!-- Looping through news   -->
  <div class="container-fluid">

    <form  action="{%url 'newsToday'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>
  
  </div>
{% endblock %}
<!--End of the block content-->
{% block scripts %} 
{{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}